@import './../../styles/main.scss';

.workspace-main-container {
    height: 100vh;
}

.workspace-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(6, 95, 157);

}

.workspace-header-div-left {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 12px;
    height: 45px;
    align-items: center;
    &>* {
    margin: 0 10px;
    padding: 0 10px;
    }
}

.workspace-header-div-right {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 12px;
    height: 45px;
    align-items: center;
    &>* {
    margin: 0 3px;
    }

    &>p {
        background-color: blue;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }
}

.button-4 {
    height: 35px;
    border-radius: 3px;
    &:hover {
        background-color: rgb(81, 143, 187);
        transition: all .2s;
    }
}

input {
    background-color: rgb(81, 143, 187);
    color: white;
    height: 30px;
    border-radius: 3px;
    border: 1px solid white;
    width: 250px;

    &::placeholder {
        color: white;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 400;
    }

    &:focus {
        background-color: white;
        color: $color-blue-background;
        font-size: 20px;
        font-weight: 500;
    }
}

.workspace-info-icon {
    height: 17px;
    width: 17px;
    background-color: white;
    border-radius: 15px;

}

.workspace-bell-icon {
    height: 17px;
    width: 17px;
    background-color: aquamarine;
    border-radius: 3px;
}

.home-container-main {
    // padding-top: 30px;
    background-color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-top: 35px;

}

.home-container {
    display: flex;
    flex-direction: row;
    // border: 1px solid black;
    // width: 1000px;
}

.home-container-left {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 150px;
    justify-content: flex-start;
    align-items: flex-start;
}

.home-container-right {
    display: flex;
    flex-direction: column;
    // flex: 3;
    // background-color: rgb(143, 143, 181);
    width: 60vw;
    margin-left: 1rem;

    &>h1 {
        font-size: 1rem;
        color: darkgrey;
        margin-left: 1rem;
    }
}

.left-side-button {
    cursor: pointer;
    height: 25px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;

    &:hover {
        background-color: lightblue;
        color: rgb(32, 32, 172);
        transition: all .45s;
    }

    &-img {
        height: 10px;
        width: 10px;
        margin-right: 8px;
    }

    &>p {
        font-size: .75rem;
    }
}

.create-button {
    background-color: rgb(206, 201, 201);
    width: 120px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: rgb(182, 179, 179);
        transition: all .1s
    }

    &>p {
        font-size: .75rem;
        font-weight: 400;
    }
}

.create-tableau {
    background-color: "white";
    width: 260px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 15px;
    border-radius: 1px;
    // box-shadow: 1px 1px 5px black;
    border: 1px solid rgb(73, 74, 74);

    
}

.new-tableau-input {
    background-color: rgb(226, 227, 232);
    border: 1px solid rgb(200, 198, 234);
}

.new-tableau-text {
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    flex: 1;
}

.new-tableau-textholder {
    display: flex;
    flex-direction: row;
    align-items: center;
}